@charset "UTF-8";

:root {
	/*  var-colors */
--rojo: #e54b4b;
--pblue: #13293d;
--sblue: #53a2be;
--cgblue: #1d84b5;
--cream: #f8fff4;
}
*{
	margin: 0;
	padding: 0;
}
body {
    flex-direction: column;
	background: var(--pblue);
    min-height: 80vh;    
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
	overflow-x: hidden;
}
/* Desktop view */
.navbar {
	width: 100%;
	background: var(--pblue);
	border-bottom: 1px solid var(--cream);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	box-sizing: border-box;
}
.logo {
	color: var(--cream);
}
.icon,
.close-btn {
	display: none;
	font-size: 1.2em;
	cursor: pointer;
}
.links {
	display: flex;
	list-style: none;
	padding: inherit;
}
.links li {
	margin-right: 10px;
}
.links li a {
	text-decoration:none;
	color: var(--cream);
	letter-spacing: -0.5px;
}
.links li a:hover {
	color: var(--rojo);
}
.backdrop {
	display: none;
	animation: 0.4s ease-in-out fadeIn forwards;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--bluemax);
	cursor: pointer;
}
/*  Banner */
.landing {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60vh;
}
.banner { 
	width: auto;
	min-height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 30% 20%;
	box-sizing: border-box;
}
.banner-title{
	/*text-transform: uppercase;*/
	font-size: 5em;
	background-image: url("https://images.unsplash.com/flagged/photo-1579268351234-073f85929562?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
	background-size: 680px auto;
	/*background-repeat: no-repeat;*/
	background-position: center center;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.cover-image {
	width: 100%;
	max-width: 800px;
	height: auto;
}
.siteTitle {
	font-size: 5em;
	margin-bottom: 16px;
}
.siteDescription {
	color: var(--cream);
	font-size: 2em;
}
.banner-description{
	color: var(--cream);
	font-size: 3.3em;
	font-weight: 300;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.button-social {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}
.button-social img{
    width: 10vh;
    height: auto;
}
@keyframes fadeIn {
	to {
		background: var(--pblue);
	}
}
.social-bar{
    width: 100%;
    display: flex; 
    background: var(--bluemax);
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}
.buttons {
    margin-top: 30px;
}
.meetMeBtn,
.contactBtn {
	text-decoration: none;
	background: #6d63fd;
	color: white;
	padding: 8px 25px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 1em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-in-out;
	outline: 0;
}
.meetMeBtn:hover,
.contactBtn:hover {
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
}
.contactBtn {
	background: rgb(187, 187, 187);
	color: black;
	/*margin-left: 20px;*/
}
footer{ 
    align-items: center;
    display: flex;
    justify-content: center;
    height: 8vh;
    flex:0;
   	color:var(--cream);
	background-color: var(--pblue);
 }
.footer p{
    display: flex;
    justify-content: center;  
    font-size: small;
 }
.side_nav{
	width: 200px;
	height: 100px;
	position: fixed;
	right: -200px;
	top: 0;
	z-index: 2;
	background: #162950;
	transition: 0.5s;
 }
.side_nav ul li{
	text-transform: uppercase;
	list-style: none;
	margin: 50px 0;
	letter-spacing: 1.2px;
	cursor: pointer;
}
.side_nav ul a{
	color: #fff;
	text-decoration: none;
}
.menu_icon {
	width: 40px;
	position: fixed;
	right: 40px;
	top: 35px;
	z-index: 2;
	cursor: pointer;
}

/* Smaller Desktop */
@media (max-width: 1240px) {
	.landing {
		flex-direction: column;
		justify-content: center;
		padding: 0 30px;
	}
	.landing-left {
		text-align: center;
		margin-bottom: 40px;
	}
}

/* Tablet */
@media (max-width: 1024px) {
	.siteTitle {
		font-size: 4em;
	}
	.siteDescription {
		font-size: 1.5em;
	}
	.meetMeBtn,
	.contactBtn {
		font-size: 1em;
	}
}

/* Mobile view */
@media (max-width: 1170px) {
	.icon,
	.close-btn {
		display: block;
	}
	.icon {
		position: absolute;
		right: 24px;
	}
	.links {
		position: absolute;
		top: 0;
		height: 100%;
		width: 90%;
		right: -90%;
		background: #fff;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		z-index: 2;
		transition: 0.3s ease-in-out;
	}
	.links li {
		margin-right: 0;
		margin-bottom: 50px;
		font-size: 1.5em;
    }
    
	.siteTitle {
		font-size: 3em;
		margin-bottom: 8px;
	}
	.siteDescription {
		font-size: 1.2em;
	}
	.meetMeBtn,
	.contactBtn {
		font-size: 0.9em;
	}

	.close-btn {
		position: absolute;
		top: 24px;
		right: -90vh;
		color: #575757;
		font-size: 2em;
		z-index: 3;
		transition: 0.3s ease-in-out;
	}
	.close-btn:hover {
		color: #000;
		cursor: pointer;
	}
	/* Open class */
	.open .links {
		right: 0;
	}
	.open .close-btn {
		right: 32px;
	}
	.open .backdrop {
		display: block;
	}
}

/* for social-Bar */
.boxbar{
	position: relative;
	display: flex;
	transform-style: preserve-3d;
	transform: rorate(25deg) skew(-25deg); 
}
.boxbar li{
	position: relative;
    list-style: none;
	width: 60px;
	height: 60px;    
}
.boxbar li:before{
	content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #333;
    transform-origin: top;
    transform: skewX(-41deg);
}
.boxbar li:after{
	content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}
.boxbar li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #333;
    color: rgba(255,255,255,0.2);
    font-style: 30px !important;
    transition: 0.2s;
}
.boxbar li:hover span{
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
.boxbar li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}
.boxbar li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: 0.8;
}
.boxbar li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 0.6;
}
.boxbar li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.4;
}
.boxbar li:hover span:nth-child(1){
    transform: translate(0,0);
    opacity: 0.2;
}
.boxbar li:nth-child(1){
    background: #0e76a8;
}
.boxbar li:nth-child(2){
    background: #777777;
}
.boxbar li:nth-child(3){
    background: #E1306C;
}

/* Datos */

.datos {
    text-align: left;
    padding: 0 0 0 100px;
    font-family: 'Roboto', sans-serif;
    color: #00ffff;
}
.name{
	color:#000;
	margin: 2vh;
}
.surname{
	color:#00FFFF;
	margin: 2vh;
}
